In [1]:
import pandas as pd
import numpy as np

### Dataset 1 - Tuition fee by State

In [5]:
tuition_fee_by_state_data = pd.read_csv('tuitionfeebystate.csv')
table_name = tuition_fee_by_state_data.columns[0]

In [6]:
tuition_fee_by_state_data = pd.read_csv('tuitionfeebystate.csv',header=1)
table_sub_name1 = tuition_fee_by_state_data.columns[1]
table_sub_name2 = tuition_fee_by_state_data.columns[17]

In [7]:
tuition_fee_by_state_data = pd.read_csv('tuitionfeebystate.csv',header=2, usecols=range(0,17))
tuition_fee_by_state_data.columns[0]='States'
tuition_fee_by_state_data

TypeError: Index does not support mutable operations

In [8]:
table_sub_name1

'Public Two-Year In-District Tuition and Fees'

In [ ]:
tuition_two_year_data = pd.read_csv('tuitionfeebystate.csv',header=2, usecols=range(0,17))
tuition_two_year_data.columns = ['States', 
                                     tuition_two_year_data.columns[1],
                                     tuition_two_year_data.columns[2],
                                     tuition_two_year_data.columns[3],
                                     tuition_two_year_data.columns[4].strip(),
                                     tuition_two_year_data.columns[5].strip(),
                                     tuition_two_year_data.columns[6].strip(),
                                     tuition_two_year_data.columns[7],
                                     tuition_two_year_data.columns[8],
                                     tuition_two_year_data.columns[9],
                                     tuition_two_year_data.columns[10],
                                     tuition_two_year_data.columns[11],
                                     tuition_two_year_data.columns[12],
                                     tuition_two_year_data.columns[13],
                                     tuition_two_year_data.columns[14],
                                     tuition_two_year_data.columns[15],
                                     tuition_two_year_data.columns[16],
                                    ]
tuition_two_year_data.name = table_sub_name1
tuition_two_year_data.drop(axis=0,index=0)
pass

In [ ]:
table_sub_name2

In [ ]:
tuition_fee_by_state_data.shape

In [ ]:
tuition_fee_by_state_data

In [ ]:
lst =[0]
[lst.append(x) for x in range(18,34)]
tuition_four_year_data = pd.read_csv('tuitionfeebystate.csv',header=2, usecols=lst)
tuition_four_year_data.columns = ['States', 
                                     tuition_four_year_data.columns[1][:-2],
                                     tuition_four_year_data.columns[2][:-2],
                                     tuition_four_year_data.columns[3][:-2].strip(),
                                     tuition_four_year_data.columns[4][:-2].strip(),
                                     tuition_four_year_data.columns[5][:-2].strip(),
                                     tuition_four_year_data.columns[6][:-2].strip(),
                                     tuition_four_year_data.columns[7][:-2],
                                     tuition_four_year_data.columns[8][:-2],
                                     tuition_four_year_data.columns[9][:-2],
                                     tuition_four_year_data.columns[10][:-2],
                                     tuition_four_year_data.columns[11][:-2],
                                     tuition_four_year_data.columns[12][:-2],
                                     tuition_four_year_data.columns[13][:-2],
                                     tuition_four_year_data.columns[14][:-2],
                                     tuition_four_year_data.columns[15][:-2],
                                     tuition_four_year_data.columns[16][:-2],
                                    ]
tuition_four_year_data.name = table_sub_name2
tuition_four_year_data.drop(axis=0,index=0)
pass

#### Convert 2 year and 4 year dataframes to numeric values for columns that can be changed

#### Some clever iterrows that uses the current index to rewrite values so that we may convert them to numeric

#### Convert 2 year and 4 year dataframes to numeric values for columns that can be changed

In [ ]:
for index,row in tuition_two_year_data.iterrows():
    tuition_two_year_data.loc[index] = row.str.replace('$','').str.replace(',','').str.replace('%','')
tuition_two_year_data.head()

In [ ]:
cols = tuition_two_year_data.columns.drop(labels='States')
tuition_two_year_data[cols] = tuition_two_year_data[cols].apply(pd.to_numeric, errors='coerce')
tuition_two_year_data

In [ ]:
tuition_two_year_data.dtypes

In [ ]:
tuition_two_year_data = tuition_two_year_data.apply(pd.to_numeric, errors='coerce').fillna(0)

#### Convert 2 year and 4 year dataframes to numeric values for columns that can be changed

In [ ]:
tuition_two_year_data = tuition_two_year_data.apply(pd.to_numeric)
tuition_four_year_data = tuition_four_year_data.apply(pd.to_numeric, errors='ignore')

### Dataset 2 - Unemployment Data

In [ ]:
unemployment_data = pd.read_csv('unemploymentdata.csv')

### Dataset 3 - Untidy.csv

In [ ]:
untidy_data = pd.read_csv('untidy.csv')

In [ ]:
tuition_fee_by_state_data = pd.read_csv('tuitionfeebystate.csv',header=2, usecols=range(0,17))
tuition_fee_by_state_data.columns[0] = ['States', 
                                     tuition_fee_by_state_data.[1],
                                     tuition_fee_by_state_data[2],
                                     tuition_fee_by_state_data[3],
                                     tuition_fee_by_state_data[4],
                                     tuition_fee_by_state_data[5],
                                     tuition_fee_by_state_data[6],
                                     tuition_fee_by_state_data[7],
                                     tuition_fee_by_state_data[8],
                                     tuition_fee_by_state_data[9],
                                     tuition_fee_by_state_data[10],
                                     tuition_fee_by_state_data[11],
                                     tuition_fee_by_state_data[12],
                                     tuition_fee_by_state_data[13],
                                     tuition_fee_by_state_data[14],
                                     tuition_fee_by_state_data[15],
                                     tuition_fee_by_state_data[16],
                                    ]
tuition_fee_by_state_data.drop(axis=0,index=0)

In [ ]:
tuition_fee_by_state_data = pd.read_csv('tuitionfeebystate.csv',header=2, usecols=range(0,17))
tuition_fee_by_state_data.columns[0] = ['States', 
                                     tuition_fee_by_state_data.[1],
                                     tuition_fee_by_state_data[2],
                                     tuition_fee_by_state_data[3],
                                     tuition_fee_by_state_data[4],
                                     tuition_fee_by_state_data[5],
                                     tuition_fee_by_state_data[6],
                                     tuition_fee_by_state_data[7],
                                     tuition_fee_by_state_data[8],
                                     tuition_fee_by_state_data[9],
                                     tuition_fee_by_state_data[10],
                                     tuition_fee_by_state_data[11],
                                     tuition_fee_by_state_data[12],
                                     tuition_fee_by_state_data[13],
                                     tuition_fee_by_state_data[14],
                                     tuition_fee_by_state_data[15],
                                     tuition_fee_by_state_data[16],
                                    ]
tuition_fee_by_state_data.drop(axis=0,index=0)

In [ ]:
tuition_fee_by_state_data = pd.read_csv('tuitionfeebystate.csv',header=2, usecols=range(0,17))
tuition_fee_by_state_data.columns[0] = ['States', 
                                     tuition_fee_by_state_data.[1],
                                     tuition_fee_by_state_data[2],
                                     tuition_fee_by_state_data[3],
                                     tuition_fee_by_state_data[4],
                                     tuition_fee_by_state_data[5],
                                     tuition_fee_by_state_data[6],
                                     tuition_fee_by_state_data[7],
                                     tuition_fee_by_state_data[8],
                                     tuition_fee_by_state_data[9],
                                     tuition_fee_by_state_data[10],
                                     tuition_fee_by_state_data[11],
                                     tuition_fee_by_state_data[12],
                                     tuition_fee_by_state_data[13],
                                     tuition_fee_by_state_data[14],
                                     tuition_fee_by_state_data[15],
                                     tuition_fee_by_state_data[16],
                                    ]
tuition_fee_by_state_data.drop(axis=0,index=0)